
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  
  <title>Frontend Mentor | Advice generator app</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles.css">
</head>
<body>

<div class="container">
  <div class="box">
    <% if (locals.id) { %>
      <p class="title">ADVICE #<%= id %></p>
    <% }else{ %>
      <p class="title">ADVICE</p>
      <% } %>
    <% if (locals.advice) { %>
      <p class="advice">
        "<%= advice %>"
      </p>
    <% }else{ %>
      <p class="advice"> </p>
      <% } %>
      <div class="divider">
        <img class="pause" src="images/pattern-divider-desktop.svg" alt="">
        <img class="pause-mobile" src="images/pattern-divider-mobile.svg" alt="">
      </div>
    <form action="/advice" method="get">
      <button>
        <img src="images/icon-dice.svg"  alt="">
      </button>
    </form>
  </div>
</div>













  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Sooraj Varrma</a>.
  </div>
</body>
</html>