body{
    margin:0px;
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
}
.container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    position: relative;
    background-color: hsl(217, 19%, 24%);
    border-radius: 10px;
    height: 200px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title{
    color: hsl(150, 100%, 66%);
    font-weight: 700;
    font-size: 0.8rem;
}
.advice{
    padding: 20px 20px 20px 20px;
    color:white;
    font-weight: 700;
}

button{
    width: 40px;
    height: 40px;
    background-color: hsl(150, 100%, 66%);
    outline: none;
    border: none;
    border-radius: 50%;
    position: absolute;
    bottom:  -19px;
    right: 178px;
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
}
button>img{
    background-size: cover;
}

.divider > .pause-mobile{
    display: none;
}
.divider > .pause{
    width: 90%;
    height: 20px;
    background:transparent;
    color: white;
}
@media screen and (max-width :400px){
    .box{
        height: 300px;
        width: 370px;
        min-width: 360px;
        margin-left: 10px;
        margin-right: 10px;
    }
    body{
        font-size: 1.4rem;
    }
    .pause{
        display: none;
    }
    button{
        right:156px;
    }
    .divider > .pause-mobile{
        display: inline;
        width: 90%;
        text-align: center;
    }
}
